@media screen and (min-width:992px) {
    
    .main-slider{
        margin: 0 80px;
    }
    
}
@media screen and (min-width:768px) {
    
    .main-slider{
        margin: 0 50px;
    }
    
}
@media screen and (min-width:1200px) {
    
    .left{
        position: absolute;
        top: 0;
        left: 0;
        height: 195px;
        width: 123px;
        background-color: white;
        display: flex;
        justify-content: end;
        align-items: end;
    }
    .left-in{
        
        height: 80px;
        width: 80px;
        border-radius: 100% 0% 0% 0% / 100% 0% 0% 0%  ;
        background-color: #3a5a40;
    }
    .right{
        position: absolute;
        top: 0;
        right: 0;
        height: 195px;
        width: 123px;
        display: flex;
        justify-content: start;
        align-items: end;
    }
    .right-in{
        height: 130px;
        width: 100%;
        border-radius: 0% 100% 99% 0% / 0% 100% 0% 0% ;
        background-color: #cb997e46;
    }
    
}
@media screen and  (min-width:992px){

    .sub-title{
        padding: 0 200px;
        font-size: 14px;
    }
}